/* box-model hack */
*{
  box-sizing: border-box;
}

h1, h2{
  text-align: center;
}

img{
  display: block;
  height: 300px;
  margin: 0 auto;
}

ul{
  height: 300px;
  width: 100px;
  border: 3px solid black;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}


li{
  width:95px;
  height: 74px;
}

#purple{
  background-color: purple;
}

#green{
  background-color: green;
}

#blue{
  background-color: blue;
}

#red{
  background-color: red;
}