*{
    box-sizing: border-box;
}

h1, h2{
    text-align: center;
}

ul{
    height: 200px;
    width: 100px;
    border: 3px solid black;
    margin: 0 auto;
    list-style: none;
    padding: 0;
}

li{
    height: 49px;
    text-align: center;
    border-bottom: 2px solid black;
}