*{
   box-sizing: border-box; 
}

h1, h2{
    text-align: center;
}

ul{
    height: 200px;
    width: 100px;
    border: 3px solid black;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

li{
    height: 49px;
    border-bottom: 3px solid black;
    text-align: center;
    font-size: 25px;
}